body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.container{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    width: 300px;
    background-color: aliceblue;
}

.container img{
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
